%content.main_body.clearfix
  .info.clearfix
    .info__group.info__float-left
      %h2.info__name
        Name Name
      %p.info__members
        Member List
    %a.info__edit-btn.info__float-right
      Edit
  = render @messages

  .sendMessage.clearfix
    =form_for [@group, @message] do |f|, class: 'sendMessage__input'
      = f.text_field :content, class: 'sendMessage__input-text sendMessage__float-left',placeholder: 'type a message'
        .sendMessage__input-icon.
          = f.label :image, class: 'sendMessage__mask__image' do
            %i.fa.icon.fa-image
            = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'sendMessage__input-btn sendMessage__float-right'
