%content.main_body.clearfix
  .info.clearfix
    .info__group.info__float-left
      %h2.info__name
        = @group.name
      - @group.members.each do |member|
        %p.info__members
          = member.user.name
    %a.info__edit-btn.info__float-right
      Edit
  .textArea
    = render @messages, collection: @messages, as: :message

  .sendMessage.clearfix
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'sendMessage__input-text sendMessage__float-left textbox',placeholder: 'type a message'
      = f.submit 'Send', class: 'sendMessage__input-btn sendMessage__float-right'
  -# .sendMessage.clearfix
  -#   = form_for [@group, @message] do |f|
  -#     = f.text_field :content, class: 'sendMessage__input-text sendMessage__float-left textbox',placeholder: 'type a message'
  -#       .sendMessage__input-icon
  -#         = f.label :image, class: 'sendMessage__mask__image' do
  -#           %i.fa.icon.fa-image
  -#           = f.file_field :image, class: 'hidden'
  -#     = f.submit 'Send', class: 'sendMessage__input-btn sendMessage__float-right'
