.textArea_box
  .textArea__user
    %h3.textArea__name
      = message.user.name
      %span.textArea__timestamp
        = message.created_at.strftime('%Y/%m/%d %H:%M')
    - if message.content.present?
      %p.textArea__message{ data: { id: "#{message.id}" } }
        = message.content
    - if message.image.present?
      = image_tag message.image.url, class: 'textArea__image'
